.road {
  display: flex;
  margin: 6rem 0 0 15rem;
  color: #595959;
}

.road .home,
.road .indicator,
.road .catogry-list {
  font-weight: 400;
  font-size: 18px;
  padding: 12px;
}

.main-content {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  padding: 20px;
}

.sidebar {
  width: 250px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  margin-left: 15rem;
  flex-shrink: 0;
}

.product-content {
  flex: 1;
}

.sidebar-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.category {
  margin-bottom: 15px;
}

.category-toggle {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  text-align: left;
  padding: 0;
  width: 100%;
}

.subcategory-list {
  list-style: none;
  padding-left: 10px;
  margin-top: 8px;
}

.subcategory-list li {
  margin: 5px 0;
  cursor: pointer;
  font-size: 14px;
  color: #333;
}

.subcategory-list li.active {
  color: #1dbf73;
  font-weight: 500;
}

.subcategory-list li.show-all {
  font-size: 13px;
  color: #888;
}

.section {
  margin-top: 25px;
}

.section h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  caret-color: #555;
}

form label {
  display: block;
  font-size: 14px;
  margin: 5px 0;
  cursor: pointer;
}

.green {
  color: #1dbf73;
  font-weight: 500;
}

.sort-prodcut {
  margin: 0 0 30% 50%;
}

input[type="radio"] {
  margin-right: 8px;
}

.product-head {
  display: flex;
  font-family: "Kumbh Sans", sans-serif;
  gap: 46%;
}

.product-head p {
  color: #999999;
  font-size: 18px;
}

.product {
  display: flex;
  flex-wrap: wrap;
  gap: 46px;
}

.product-image img {
  border-radius: 12px;
}

.product-card {
  background-color: #fff;
  text-align: left;
}

.product-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  height: 48px;
  overflow: hidden;
}

/* Fiyat bölümü */
.product-price {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
}

.product-price p {
  font-weight: 600;
  margin: 0;
}

.product-price span {
  font-size: 15px;
  font-weight: 400;
  text-decoration: line-through;
  color: red;
}

.product-button button {
  background-color: transparent;
  border: 1px solid #12B76A;
  border-radius: 12px;
  padding: 10px;
  gap: 10px;
  width: 302px;
  height: 52px;
  color: #12B76A;
  font-size: 20px;
  font-weight: 400;
}

.product-button-success button {
  background-color: #12B76A;
  border: 1px solid #12B76A;
  border-radius: 12px;
  padding: 10px;
  gap: 10px;
  width: 302px;
  height: 52px;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.product-button-pre-order button {
  background-color: transparent;
  border: 1px solid #53B1FD;
  border-radius: 12px;
  padding: 10px;
  gap: 10px;
  width: 302px;
  height: 52px;
  color: #53B1FD;
  font-size: 20px;
  font-weight: 400;
}

.page-scowbar svg {
  display: flex;
  flex-direction: column;
  margin: 5% 0 0 50%;
}
